* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.field {
  background-color: aqua;
}

.timer {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin-top: 50px;
}
.field {
  width: 105px;
  height: 105px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.value {
  display: flex;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.label {
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
